.header {
  display: flex;
  padding: 59px;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.menu,
.menu-botao {
  display: flex;
  align-items: center;
}

.menu li {
  margin-left: 30px;
  font-family: 'Public Sans', sans-serif;
}

.menu li a:hover {
  color: white;
  background-color: #5bc241;
  width: 55px;
  height: 40px;
  padding: 6px;
}

.button {
  background-color: #5bc241;
  color: white;
  border-radius: 10px;
  border: none;
  width: 127px;
  height: 39px;
  margin-left: 30px;
}

@media (max-width: 375px) {
  .logo{
    display: flex;
    width: 100%;
    align-items: center;
    
  }

  .menu-botao{
    display: block;
    width: 100%;
    align-items: center;
  }
  
  .menu {
    display: block;
    margin-top: 30px;
  }

  .menu li {
    font-size: 40px;
    line-height: 47px;
    align-items: center;
  }
}
